*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings
mono_crash.*
.idea/
dist/
kerbonaut_manager/LICENSE
kerbonaut_manager/README.txt
KerbonautManagerProject/[Dd]ebug/
KerbonautManagerProject/[Dd]ebugPublic/
KerbonautManagerProject/[Rr]elease/
KerbonautManagerProject/[Rr]eleases/
KerbonautManagerProject/x64/
KerbonautManagerProject/x86/
KerbonautManagerProject/[Aa][Rr][Mm]/
KerbonautManagerProject/[Aa][Rr][Mm]64/
KerbonautManagerProject/bld/
KerbonautManagerProject/[Bb]in/
KerbonautManagerProject/[Oo]bj/
KerbonautManagerProject/[Ll]og/
KerbonautManagerProject/[Ll]ogs/